# Data Structures

In [6]:
#List, Tuples, Set, Dictionary
L = [1,3,2.4,"Python",3]
T = (1,3,2.4,"Python",3)
S = {1,3,2.4,"Python",3}
D = {23:"abc",'jhf':32.5}

print("The type of L is: ", type(L))
print("The type of T is: ", type(T))
print("The type of S is: ", type(S))
print("The type of D is: ", type(D))

The type of L is:  <class 'list'>
The type of T is:  <class 'tuple'>
The type of S is:  <class 'set'>
The type of D is:  <class 'dict'>

In [3]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
abc

In [1]:
L = [1,3,87.8,'Hi']

In [2]:
L = L + ["how", "are",6 ,"you"]

In [3]:
L

[1, 3, 87.8, 'Hi', 'how', 'are', 6, 'you']

In [7]:
D['Newkey'] = "newval"

In [8]:
D

{23: 'abc', 'jhf': 32.5, 'Newkey': 'newval'}

In [9]:
L2 = L.copy()

In [10]:
 D2 ={'A':L,'B':T,'C':S,'D':D}

In [11]:
D2

{'A': [1, 3, 2.4, 'Python', 3],
 'B': (1, 3, 2.4, 'Python', 3),
 'C': {1, 2.4, 3, 'Python'},
 'D': {23: 'abc', 'jhf': 32.5, 'Newkey': 'newval'}}

In [12]:
D2['A'][3]

'Python'

In [13]:
L3 = [L,T,D,23,"game"]

In [14]:
L3

[[1, 3, 2.4, 'Python', 3],
 (1, 3, 2.4, 'Python', 3),
 {23: 'abc', 'jhf': 32.5, 'Newkey': 'newval'},
 23,
 'game']

In [15]:
type(L3[2])

dict

In [16]:
L3 = [x**2 for x in range(10)]

In [17]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
S3 = {x**2 for x in range(2,20,3)}

In [19]:
S3

{4, 25, 64, 121, 196, 289}

In [20]:
43 in D

False

In [21]:
""" As a teacher you have different student record having student id, marks in each subject where different students have taken 
different number of subjects. These recoeds are in hard copy. You want to enter all the data in computer and want to 
compute average marks of each student and display it."""

' As a teacher you have differet student record having student id, marks in each subject where different students have taken \ndifferent number of subjects. These recoeds are in hard copy. You want to enter all the data in computer and want to \ncompute average marks of each student and display it.'

In [27]:
def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter Student ID: ")
        marksList =input("Enter the Marks by comma sepearted values: ")
        moreStudents = input("Enter no to quit inserton: ")
        if studentId in D:
            print(studentId," is already present")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [28]:
studentData = getDataFromUser()

Enter Student ID: 12
Enter the Marks by comma sepearted values: 23,34,56
Enter no to quit inserton: 45
Enter Student ID: 45
Enter the Marks by comma sepearted values: 23,56,34,76,43
Enter no to quit inserton: yes
Enter Student ID: 12
Enter the Marks by comma sepearted values: 23,
Enter no to quit inserton: 23
12  is already present
Enter Student ID: 34
Enter the Marks by comma sepearted values: 68,54,65
Enter no to quit inserton: no

In [39]:
studentData

{'12': ['23', '34', '56'],
 '45': ['23', '56', '34', '76', '43'],
 '34': ['68', '54', '65']}

In [44]:
def getAvgMarks(D):
    avgMarks ={}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [45]:
avgM = getAvgMarks(studentData)

In [46]:
avgM

{'12': 37.666666666666664, '45': 46.4, '34': 62.333333333333336}

In [47]:
for x in avgM:
    print("student :",x,"got marks as :",avgM[x])

student : 12 got marks as : 37.666666666666664
student : 45 got marks as : 46.4
student : 34 got marks as : 62.333333333333336